<div class="row" style="margin-bottom: 20px;">
    <div class="col-md-6">
        <div class="alert alert-info">
            Descubra os melhores filmes de
            <strong>Ficção científica</strong>
            utilizando a
            <a href="/sobre">Escala scifi</a>.
            <br/>
            Não deixe de contribuir votando no seu filme preferido, basta se <a href="/registro">cadastrar</a>
            e votar quantas vezes quiser.
        </div>
    </div>
    <div class="col-md-6">
        <form action="/busca" method="post">
            <div class="form-group">
                <div class="input-group mb-3">
                    <input type="text" class="form-control form-control-lg" name="busca" placeholder="Buscar por título" required>
                </div>
                <div class="row">
                    <div class="col-md-12">                            
                        <button type="submit" class="btn btn-info btn-lg btn-block">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    var rangeSlider = function () {
        var slider = $('.range-slider'),
            range = $('.range-slider__range'),
            value = $('.range-slider__value');

        slider.each(function () {

            value.each(function () {
                var value = $(this).prev().attr('value');
                $(this).html(value);
            });

            range.on('input', function () {
                $(this).next(value).html(this.value);
            });
        });
    };

    rangeSlider();
</script>