<% include ./partials/header %>

<div class="container" style="width: 60%;">
    <h4>Cadastre-se para computar seus votos</h4>
    <hr />
    <form>
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="Digite seu nome" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" aria-describedby="emailHelp" placeholder="Digite seu email" required>
        </div>

        <div class="form-group">
            <label>Senha</label>
            <input type="password" class="form-control" placeholder="Digite sua senha" required>
        </div>

        <div class="form-group">
            <label>Repetir senha</label>
            <input type="password" class="form-control" placeholder="Repita a senha" required>
        </div>

        <button type="button" class="btn btn-primary btn-lg btn-block">Cadastrar</button>
    </form>
</div>