<% include ./partials/header %>

<div class="container" style="width: 60%;">
    <h2>Scifispace <i class="fab fa-grav"></i></h2>
    <hr />
    <p style="text-align: justify;">Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
    <p style="text-align: justify;"><small>This line of text is meant to be treated as fine print.</small></p>
    <br />
    <h4>A escala</h4>
    <hr />
    <p style="text-align: justify;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sollicitudin pharetra sollicitudin. Phasellus vel velit malesuada, pellentesque ipsum sed, fringilla dolor.
    Quisque commodo ex tincidunt mi congue, quis sodales elit cursus. Phasellus ultrices tellus quis metus efficitur, et pharetra ipsum iaculis. Fusce ex purus, cursus in interdum ac, rhoncus vel tortor. 
    Duis a vestibulum metus, id congue erat. Aliquam nec lacus purus.</p>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"></div>
    </div>
    <br /><br />
    <h4>The Movie Database API</h4>
    <hr />

    <p style="text-align: justify;">The Movie Database (TMDb) is a community built movie and TV database. Every piece of data has been added by our amazing community dating back to 2008. TMDb's strong international 
    focus and breadth of data is largely unmatched and something we're incredibly proud of. Put simply, we live and breathe community and that's precisely what makes us different.
    <a href="https://www.themoviedb.org/about">Mais informações.</a></p>
</div>




